<li><a id="ChangeChannelBtn" class="myNavbarElement site-text nav-item">Losowa stacja</a></li>
<li class="dropdown myNavbarElement site-text nav-item">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
		Lista stacji
		<span class="caret"></span>
	</a>
    <ul id="station-list" class="dropdown-menu scrollable-bootstrap-menu"></ul>
</li>
