
<aside id="sidebar">

	<div class="suggestions">

		<!--Czit -> przypisywanie wartości z ViewBag, aby jQuery mogło sobie je pobrać-->

		<div class="site-text"><h4>Polecane dla Ciebie:</h4></div>

		<div class="suggestion ">
			<img id="firstSuggestion" class="suggestionImage" src="@ViewBag.firstImagePathSmall" />
		</div>

		<div class="suggestion ">
			<img id="secondSuggestion" class="suggestionImage" src="@ViewBag.secondImagePathSmall" />
		</div>

		<div class="suggestion ">
			<img id="thirdSuggestion" class="suggestionImage" src="@ViewBag.thirdImagePathSmall" />
		</div>
	</div>
</aside>