<div class="container">
    <h2 class="site-text">O aplikacji</h2>
    <h3 class="site-text">Radio Streamer</h3>

    <p class="site-text">Aplikacja wykonana jako projekt na przedmiot Platforma .NET</p>

    <p class="site-text">Autor: Bartłomiej Buchała</p>
</div>